#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  color: red;
  font-size: small;
  margin: 2px;
  padding: 0;
  text-align: center;
}

.form-control {
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}